@{
    ViewData["Title"] = "Админ-панель";
}

<h2>@ViewData["Title"]</h2>
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p class="lead">Бубубубу.</p>
    <hr class="my-4">
    <p>Выберите действие:</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-area="Admin" asp-controller="Products" asp-action="Index">
            Управление товарами
        </a>
        <a class="btn btn-primary btn-lg" asp-area="Admin" asp-controller="Categories" asp-action="Index">
            Управление категориями
        </a>
        <a class="btn btn-primary btn-lg" asp-area="Admin" asp-controller="Vendors" asp-action="Index">
            Управление производителями
        </a>
    </p>
</div>