@model EShop.Application.Vendors.Queries.GetVendors.VendorsViewModel


<table class="table table-bordered">
    <thead>
    <tr>
        <th>Название</th>
        <th>Описание</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var vendor in Model.Vendors)
    {
        <tr>
            <td>
                <span>
                    @vendor.Name
                </span>
            </td>
            <td>
                <span>
                    @vendor.Description
                </span>
            </td>
            <td>
                <a class="btn btn-danger btn-block" asp-controller="Admin" asp-action="DeleteVendor" asp-route-vendorId="@vendor.Id">Убрать</a>
            </td>
        </tr>
    }
    </tbody>
</table>