@model EShop.Application.Vendors.Queries.GetVendors.VendorsViewModel

<form asp-action="DeleteVendor" asp-controller="Admin" method="post">
       
    <div class="form-group">
        <label for="exampleFormControlSelect1">Поставщик</label>
        <select name="vendorId" class="form-control">
            @foreach (var vendor in Model.Vendors)
            {
                <option value="@vendor.Id">@vendor.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Удалить</button>
</form>