@model EShop.Application.Categories.Queries.GetCategories.CategoriesViewModel;



    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Название</th>
             
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td>
                        <span>
                            @category.Name
                        </span>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-block" asp-controller="Admin" asp-action="DeleteCategory" asp-route-categoryId="@category.Id">Убрать</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>