<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Ваш заказ успешно оформлен! Историю своих заказов можно посмотреть в <a asp-controller="Order" asp-action="GetOrder">личном кабините</a>!</p>
    <hr>
    <p class="mb-0">Спасибо за покупку!</p>
</div>