@{
    ViewData["Title"] = "О нас";
}


<h1>О компании</h1>
<div class="card-columns col-md-12">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Скорость!</div>
        <div class="card-body">
            <h5 class="card-title">Быстрая доставка</h5>
            <p class="card-text">Доставляем товары точно в удобное для Вас время! Мы позвоним Вам и согласуем время для доставки</p>
        </div>
    </div>

    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Стоимость!</div>
        <div class="card-body">
            <h5 class="card-title">Низкие цены</h5>
            <p class="card-text">Гарантируем низкую цену на большинство товаров среди крупных интернет-магазинов зоотоваров.</p>
        </div>
    </div>

    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Качество!</div>
        <div class="card-body">
            <h5 class="card-title">Гарантия качества</h5>
            <p class="card-text">Наша компания закупает товары только у проверенных продавцов, тем самым гарантируя качество продукции.</p>
        </div>
    </div>
</div>