@{
    ViewData["Title"] = "Главная";
}

<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать в EShop!</h1>
    <p class="lead">Интернет-магазин</p>
    <hr class="my-4">
    <p class="lead">
        <a asp-controller="Home" asp-action="About" class="btn btn-primary btn-lg">
            О компании
        </a>
    </p>
</div>