@model EShop.WebUI.ViewModels.AddProductViewModels
@{
    ViewData["Title"] = "Добавление товара";
}

<form asp-area="Admin" asp-controller="Products" asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Название товара</label>
        <input type="text" name="title" class="form-control">
    </div>
    <div class="form-group">
        <label>Категория</label>
        <select name="categoryID" class="form-control">
            @foreach(var categories in Model.Categories.Categories)
            {
                <option value="@categories.Id">@categories.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Поставщик</label>
        <select name="vendorID" class="form-control">
            @foreach(var vendor in Model.Vendors.Vendors)
            {
                <option value="@vendor.Id">@vendor.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Описание товара</label>
        <textarea class="form-control" name="description" placeholder="Описание товара" rows="3"></textarea>
    </div>
    <label>Цена</label>
    <input type="number" name="price" class="form-control">
    <br/>
    <input type="file" name="file" placeholder="Загрузить фото товара"/><br>
    <br/>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>