@model EShop.Application.Cart.Queries.GetUserCart.CartViewModel;

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Название товара</th>
            <th>Стоимость за единицу</th>
            <th>Количество</th>
            <th>Стоимость в сумме</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var product in Model.Products)
    {
        <tr>
            <td>
                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                    @product.Name
                </a>
            </td>
            <td>@product.Price.ToString("C")</td>
            <td>NOT IMPLEMENTED</td>
            <td>NOT IMPLEMENTED</td>
        </tr>
    }
    </tbody>
</table>