@model EShop.Application.Cart.Queries.GetUserCart.CartViewModel;

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Название товара</th>
        <th>Стоимость за единицу</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var product in Model.Products)
    {
        <tr>
            <td>
                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                    @product.Name
                </a>
            </td>
            <td>@product.Price.ToString("C")</td>
            <td>
                <a class="btn btn-success btn-block" onclick="RemoveCartProduct()" asp-controller="Cart" asp-action="RemoveProduct" asp-route-id="@product.Id">Убрать</a>
            </td>
        </tr>
    }
    </tbody>
</table>